.main {  
  overflow: hidden;
  padding-top: 9rem;
  padding-bottom: 16.25rem;
  .designedForFuture {
    color: $veryDarkBlue;
    &__title {
      width: fit-content;
      margin: auto;
      margin-bottom: 6.875rem;
      font-size: 2.25rem;
    }
    &__container {
      position: relative;
      &-info {
        width: 31.25rem;
        > h3 {
          font-size: 1.625rem;
          margin-bottom: 1.875rem;
        }
        > p {
          &:not(:last-child){
            margin-bottom: 5.125rem;
          }
        }
      }
      &-img {
        img {
          width: 60rem;
          position: absolute;
          top: -245px;
          right: -460px;
        }
      }
    }
  }
}
